body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

.main-game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom button {
    margin: 1.5rem;
}

.inlineflex {
    display: flex;
}

.inlineflex div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#player-score-zone {
    display: flex;
    flex-wrap: wrap;
}

#player-score-zone div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

footer {
    clear: both;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}