* {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    font-size: 1.5rem;
    background-color: #282a36;
    padding: auto;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

header {
    display: flex;
    align-items: center;
    background-color: #44475a;
    padding: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
}

p {
    margin: 10px 10px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 1rem;
    color: #ff79c6;
    margin: 0;
}

h3 {
    margin: 20px 0;
}

.hidden {
    display: none !important;
}

.main-game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    margin-top: 1rem;
}

.bottom button {
    margin: 1.5rem;
}

.inlineflex {
    display: flex;
}

.inlineflex div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#player-score-zone,
#player-score-zone-resume {
    display: flex;
    flex-wrap: wrap;
}

#player-score-zone div,
#player-score-zone-resume div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #44475a;
    padding: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
    box-sizing: border-box
}

select {
    align-items: center;
    background-color: rgb(29, 30, 38);
    border-color: #ffb86c;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 30px;
    position: relative;
    box-sizing: border-box;
    outline: 0px !important;
    margin: 5px;
}

select:disabled {
    cursor: default;
}

input {
    align-items: center;
    background-color: rgb(29, 30, 38);
    border-color: #ffb86c;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 30px;
    position: relative;
    box-sizing: border-box;
    outline: 0px !important;
    margin: 5px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-weight: 400;
    padding: 10px 18px;
    font-size: 18px;
    border: 0;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.pink {
    background: #ff79c6;
}

.pink:disabled {
    background: #854e6d;
}

.violet {
    background: #bd93f9;
}

.violet:disabled {
    background: #65557a;
}

.orange {
    background: #ffb86c;
}

.orange:disabled {
    background: #967553;
}

.green {
    background: #50fa7b;
}

.green:disabled {
    background: #4b8159;
}