body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

.main-game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom button {
    margin: 1.5rem;
}

.inlineflex {
    display: flex;
}

.inlineflex div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#player-score-zone,
#player-score-zone-resume {
    display: flex;
    flex-wrap: wrap;
}

#player-score-zone div,
#player-score-zone-resume div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

footer {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
